body {
    text-align: center;
}


header {
    padding-bottom: 3em;
    background: yellow;
}

a {
    float: left;
    padding: 15px;
    color: black;
    font-size: 1em;
    text-decoration: none;
}

a:hover {
    background: darkkhaki;
}

header input {
    float: right;
}

form {
    margin-top: 0.5em;
}

.add-exhibition input {
    font-size: 1em;
    margin-bottom: 10px;
}

.form {
    margin-right: auto;
    margin-left: auto;
    width: 200px;
    height: 500px;
}

